@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="Month">6月</div>
    <div　class ="select">
        <div class="week">1week</div>
        <div class="week">2week</div>
        <div class="week">3week</div>
        <div class="week">4week</div>
    </div>
    <div>
        <div>
            <div>Best</div>
            <input type="text" name="BestValue" value="ここに勉強のベストの時間を書く" />
            <div>minimum</div>
            <input type="text" name="MinValue" value="ここに最低ラインの時間を書く" />
        </div>
        <div>
            <div>振り返り</div>
            <input type="text" name="Report" value="ここに一日の振り返りを書く" />
        </div>
        <div>
            <div>合計</div>
            <div>ここに合計を表示する</div>
        </div>
    </div>
    <div>
        <div>未着手</div>
        <div>未着手のデイリーを表示する</div>
        <div>完了</div>
        <div>完了したデイリーを表示する</div>
    </div>
   
</div>
