@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>現在の月を表示する</div>
    <div>
        <div>1week</div>
        <div>2week</div>
        <div>3week</div>
        <div>4week</div>
    </div>
    <div>
        <div>
            <div>Best</div>
            <div>ここに勉強のベストの時間を書く</div>
            <div>minimum</div>
            <div>ここに最低ラインの時間を書く</div>
        </div>
        <div>
            <div>振り返り</div>
            <div>ここに一日の振り返りを書く</div>
        </div>
        <div>
            <div>合計</div>
            <div>ここに合計を表示する</div>
        </div>
    </div>
    <div>
        <div>未着手</div>
        <div>未着手のデイリーを表示する</div>
        <div>完了</div>
        <div>完了したデイリーを表示する</div>
    </div>
   
</div>
