@{
    ViewData["Title"] = "Home Page";
}
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - habitmanagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>